/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
 
    
    
    
    
}







@media(min-width:768px) and (max-width:991px){
    #calculator #calc-contain {
		width: 180px;
	}
    
   
    
    
    
    
    

    
}








@media(min-width:320px) and (max-width:767px){
	.main {
		height: auto;
	}
  
    #calculator #calc-contain {
		width: 100%;
	}
	.btn-success {
		margin-top: -49px;
		right: -4%;
	}
    .bmi {
        margin-top: 20px;
        left: 0;
    }
    #calculator {
        margin-top: 50px;
    }
    .fitness {
        height: 290px;
        padding: 15px;
        background: #2a2a2f;
        margin-top: 50px;
    }
    .main h1 {
        text-align: center;
        color: #fff;
        padding: 20px 0px 50px 0px;
        font-size: 29px;
    }
    
    
    
    
    
    
    
}